.searchBox {
    text-align: center;
    margin-bottom: 25px;
}

.searchBox input {
    border-radius: 10px !important;
}

.searchBox button {
    margin-top: 10px;
    border-radius: 10px !important;
    transition: 0.3s;
}

.searchBox button:hover {
    transform: scale(1.05);
}
